{% extends '::base.html.twig' %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}
    
{% block body %}
    {# parent() #}
    
           
    <!-- /move to external template -->
    <h1>Hello, About!</h1>

    <h1>Hello, About!</h1>
    
    
    
    {# dump(translations) #}
    
    
{% endblock %}