{% extends '::base.html.twig' %}
{% trans_default_domain "app" %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}

{% block body %}
    {# dump(entries) #}
    {# Twig macros #}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
 
    <!-- Content -->
    <!-- Page Content -->
    <div class="container">
        <br>
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Beau-Site
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="bxslider">
                    <li><img src="/bundles/app/images/beausite/livingroom1.jpg" /></li>
                    <li><img src="/bundles/app/images/beausite/bathroom1.jpg" /></li>
                </ul>
                <div id="bx-pager">
                    <a data-slide-index="0" href=""><img src="/bundles/app/images/beausite/livingroom1_thumb.jpg" /></a>
                    <a data-slide-index="1" href=""><img src="/bundles/app/images/beausite/bathroom1_thumb.jpg" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                pagerCustom: '#bx-pager',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
    </script>
{% endblock %}