{% extends '::base.html.twig' %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}
    
{% block body %}
    {# parent() #}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
        
    {% dump(generaltranslation) %}
    {% dump(entries) %}
    
    
    <!-- Content -->
    <!-- Page Content -->
    <div class="container">
        <br>
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=Trendservice,+D.+Nützi+++T.+Kneubühl,+Lasergravuren,+Laserschneiden,+3D+Druck,+Stadtturmstrasse,+Baden,+Schweiz&key=AIzaSyATD57iVzthx3dMbPM_kkVfNCMYuvbnQgo" allowfullscreen></iframe>
                   </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Details</h3>
                <p>
                    Trendservice GmbH<br>Stadtturmstrasse 19<br>5400 Baden<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: +41 (0)79 247 22 31</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:info@trendservice.ch">info@trendservice.ch</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: {{ generaltranslation.contact_onRequest }}</p>
                     {% if app.user %}
                        <p>{{ inputEditButtons(adminGeneralTextRoute,'contact_onRequest') }}</p>
                    {% endif %}
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="https://www.facebook.com/Trendservice"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        
    </div>
    <!-- /.container -->
    
{% endblock %}
