{% extends '::base.html.twig' %}
{% trans_default_domain "app" %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}

{% block body %}
    {# dump(entries) #}
    {# Twig macros #}
    {% from 'AppBundle:admin:macro.html.twig' import inputBasicEntry as inputBasicEntry %}
    {% from 'AppBundle:admin:macro.html.twig' import inputBulletEntry as inputBulletEntry %}
  
    <!-- Page Content -->
    <div class="container">
        <!-- Event Section -->
        <div class="row">
        {% for entry in entries %}
         {% if entry.type == 'basic_entry_pricing' %}
             {{ inputBasicEntry(entry,adminEditEntryRoute) }}
         {% endif %}
         {% if entry.type == 'bullet_entry_pricing' %} 
            {{ inputBulletEntry(entry,adminEditEntryRoute) }}
         {% endif %}
        {% endfor %}
    </div>
    <!-- /.container -->
{% endblock %}